/**
 * @file styles for album, tracklist and video/audio components
 * @author Lenin Compres <lenincompres@gmail.com>
 **/

 @viewport{
  width: device-width;
 }
 @font-face {
 	font-family: '33535gillsansmt';
 	src: url('font/33535gillsansmt.eot');
 	src: local('font/33535gillsansmt'), url('font/33535gillsansmt.woff') format('woff'), url('font/33535gillsansmt.ttf') format('truetype');
 }
 /* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1416">Text with this font applied</p> */
 .fontsforweb_fontid_1416 {
 	font-family: '33535gillsansmt' !important;
 }
 /* Font downloaded from FontsForWeb.com */

body {
  font-family: '33535gillsansmt', Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial, " sans-serif";
  font-size: 16.4px;
  width: 100%;
  max-width: 21em;
  margin: 0 auto;
}

main {
  position: relative;
  padding: 0;
  box-shadow: lightslategray 0 0 6px;
  margin: 0;
}

section {
  position: relative;
  padding: .5em 0;
}

h1 {
  text-align: center;
  font-size: 1.25em;
  padding: .25em 0 0;
  margin: 0;
  font-weight: normal;
}

h2 {
  text-align: center;
  font-size: .86em;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding-bottom: .3em;
}

a, #tracklist li {
  cursor: pointer;
  text-decoration: none;
}

footer {
  font-size: .75em;
  padding: .5em;
}

/* video and audio components */

#audio {
  width: 100%;
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
}

#loader {
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
  height: .5em;
  width: 0%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: steelblue;
}

#video {
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
  box-shadow: lightslategray 0 0 6px
}

/* the tracklist */

#tracklist {
  list-style-type: none;
  margin: 0;
  padding: 0 .0 .5em;
}

#tracklist li {
  padding: 0 3em;
  width: 15em;
  display: block;
  position: relative;
}

#tracklist li span {
  font-size: .68em;
  font-style: normal;
}

#tracklist li a {
  pointer-events: none;
}

#tracklist li i {
  padding-left: 1.5em;
  font-style: italic;
  font-size: .86em;
  display: none;
}

#tracklist li.active i {
  display: block;
}

#tracklist li.cover a:after, #leyend .cover:before {
  content: '\2019';
  padding: 0 .15em;
  font-size: 16.4px;
}

/* lyrics */

#lyrics {
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  padding: .5em 0;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
}

#lyrics.active {
  width: 100%;
}

#lyrics>div {
  padding: 0 1em 1em;
  display: block;
}

#lyrics p {
  padding: .33em 0;
  font-size: .86em;
}

.button {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  padding: .5em;
  display: none;
  font-style: normal;
}

.active .button, #lyrics.active .button {
  display: block;
}

.button#stop, .button#close {
  right: auto;
  left: 0;
}

/* colors */

body {
  color: slategray;
  background-color: whitesmoke;
}

main {
  background-color: white;
}

#video {
  background-color: black;
}

#lyrics {
  background-color: aliceblue;
}

a, #tracklist li, #tracklist span {
  color: steelblue;
}

a:hover, #tracklist li:hover a {
  color: #23415a;
}

#tracklist li.active:hover a {
  color: steelblue;
}

#tracklist li.active {
  background-color: steelblue;
}

#tracklist li.disabled, #tracklist li.disabled * {
  color: lightgray;
  pointer-events: none;
}

.chorus, #lyrics h2, #lyrics h1 {
  color: darkslategray;
}

#tracklist li.active, #tracklist li.active a {
  color: white;
}

#tracklist .cover i, #tracklist .cover a:after, footer .cover, #lyrics .cover {
  color: goldenrod;
}

/* scroll bars */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border: 0px none white;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: white;
}

::-webkit-scrollbar-thumb:active {
  background-color: white;
}

::-webkit-scrollbar-track {
  background-color: lightslategray;
  border: 0px none lightslategray;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background-color: lightslategray;
}

::-webkit-scrollbar-track:active {
  background-color: lightslategray;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* hover only on computer screens */

@media screen and (min-width: 42em) {
  body {
    max-width: 42em;
  }
  main {
    text-align: center;
    /*display: inline-block;*/
  }
  #tracklist {
    width: 20.7em;
    display: inline-block;
    text-align: left;
  }
  #lyrics {
    position: initial;
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }
  #lyrics.active {
    width: 20em;
  }
  .button#info, .button#close {
    display: none !important;
  }
  #tracklist li:hover, #tracklist li.active:hover {
    background-color: aliceblue;
  }
}
